@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.fastest {
    @include flex(column,center,center);
}
.container{
    @include flex(column,center,center);
}